.wrap-menu{
  list-style-type: none;
  margin: 0;
  display: block;
  padding: 10px 10px;
  overflow: hidden;
  background-color: #333;
  opacity: 0.4;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 0.5s ease;

  
}
.wrap-menu h2{
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  text-shadow: 2px 2px black;
  float: left;
}
.wrap-menu a{
  background-color: #333;
  display: block;
  border-style: inset;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 18px 16px;
  margin-right: 15px;
  border-right:1px solid #bbb;
  border-radius: 20px;
  opacity: 0.5;  
  float: right;
  transition: all 0.3s ease;
  gap: 20px;
  
}
.wrap-menu a:hover{
    background-color: lightslategray;
    color:  #111;
    opacity: 1.0;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.wrap-menu:hover{
  transition: all 0.5s ease;
  opacity: 1.0;
}
.wrap-menu:hover{
}
.wrap_img {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 40px; 
  height: 25px; 
}

.wrap_img img {
  max-width: 230%; 
  max-height: 220%; 
  opacity: 1.0;
}
