.menu{
  list-style-type: none;
  margin: 0;
  display: block;
  padding: 2px 2px;
  overflow: hidden;
  background-color: #333;
  opacity: 0.3;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: all 0.5s ease;
  justify-content: center;
}

.menu h2{
  float: left;
  color: white;
  font-size: 25px;
  margin: 15px 10px;
}

.menu img{
  height: 60px;
  float: left;
  max-height: 100%;
}

.menu a{
  background-color: #333;
  display: block;
  border-style: inset;
  color: white;
  text-decoration: none;
  padding: 7px 22px;
  margin: 10px;
  border-right:1px solid #bbb;
  border-radius: 20px;
  opacity: 0.5;  
  float:left;
  transition: all 0.3s ease;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu button{
  display: block;
  padding: 7px 22px;
  margin: 10px 10px;
  opacity: 0.5;  
  float: right;
  transition: all 0.3s ease;
  gap: 20px;
  border-radius: 10px;
}
.menu button:hover,
.menu a:hover{
    background-color: lightslategray;
    color:  #111;
    opacity: 1.0;
    transform: scale(1.1);
}

.menu:hover{
  transition: all 0.5s ease;
  opacity: 1.0;
}

.img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px; 
  height: 20px;
  z-index: 0;
}

.img img {
  max-height: 250%;
  opacity: 1.0;
}
